.clientHeaderNav {
    padding-top: var(--space-3);
}
.clientHeaderLi {
    margin-bottom: var(--space-2);
}
.separateLi {
    margin-top: var(--space-8);
}
.changePasswordLi {
    margin-top: var(--space-8);
    color: var(--errorRed);
}
.changePasswordLi:hover,
.changePasswordLi:active {
  color: #f57070 !important;
}