.clientHeaderNav {
    padding-top: var(--space-3);
}
.clientHeaderLi {
    margin-bottom: var(--space-2);
}
.separateLi {
    margin-top: var(--space-8);
}
.changePasswordLi {
    margin-top: var(--space-8);
    color: var(--errorRed);
}
.changePasswordLi:hover,
.changePasswordLi:active {
  color: #f57070 !important;
}
@media (min-width: 1023px) {
    .clientHeaderNav {
        padding-top: 0;
        display: flex;
        justify-content: space-between;
    }
    .clientHeaderNav ul {
        display: flex;
        justify-content: space-between;
        gap: var(--space-4);
    }
    .clientHeaderLi {
        margin-bottom: 0;
    }
    .separateLi {
        margin-top: 0;
    }
    .changePasswordLi {
        margin-top: 0;
    }
}