.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0);
    display: flex;
    justify-content: flex-start;
    /*justify-content: center;*/
   /* align-items: center;*/
    z-index: 9999;
}
.spinner {
    position: absolute;
    border: 3px solid #f3f3f3;
    border-top: 4px solid var(--darkGold);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 0;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media screen and (min-width: 1023px) and (max-width: 1440px) {
  .spinner {
    margin: 0 15px;
  }
}
@media screen and (min-width: 1441px) {
  .spinner {
    margin: 0 30px;
  }
}