.form {
    width: 100%;
    max-width: 500px;
    
}
.form div {
    margin-bottom: 20px;    
}
.form input {
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.1); /* vrlo svetla providna boja */
    border: 1px solid var(--logoColor);
    padding: 20px 15px;
    width: 100%;
    color: white;
}
.form input[type="file"] {
    display: none;
    width: 100%;
}
.form input[type="checkbox"] {
    width: 30px;
    transform: scale(2.5);
    cursor: pointer;
    accent-color: #000; /* opciono — menja boju kvadratića kad je čekiran */
    margin-right: 20px;
}
.form label {
    font-size: 20px;
}
.fileBtn {
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.1); /* vrlo svetla providna boja */
    border: 1px solid var(--logoColor);
    padding: 20px 15px;
    width: 150px;
    color: white;
}

.form textarea {
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.1); /* vrlo svetla providna boja */
    border: 1px solid var(--logoColor);
    padding: 20px 15px;
    width: 100%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 150px;
}