
.barberItem {
  opacity: 0;
  animation: slideInLeft 0.3s ease forwards;
}
  
.barbers {
  margin-bottom: var(--space-9);
}
.barbers h1 {
  margin-bottom: var(--space-2);
}
.customerView {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  
}
.barberInfoDiv {
  height: 85px;
  width: 100%;
  flex-shrink: 1; 
}
.barberInfoDiv button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 450px;
  gap: var(--space-5);
}
.barberInfoDiv svg {
    height: 16px;
    width: 16px;
  }
.barberInfoDiv:hover {
  cursor: pointer;
}

.itemButtonsNav {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-4);
  margin-bottom: 20px;
}
  
  
@keyframes slideInLeft {
  
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
  
}
  
/*
.barberItem:hover,
.barberItem:active {
  cursor: pointer;
 border-color: rgb(203, 188, 151);
  background-color: rgba(34, 32, 32, 1);
}
*/

.removePointer {
  cursor: default;
}
@media (min-width: 375px)/* and (max-width: 1440px)*/ {
  .barbers {
    margin-bottom: 110px;
  }
  .barbers h1{
    margin-bottom: var(--space-4);
  }
  .customerView {
    gap: var(--space-5);
  }
  .barberInfoDiv {
    height: 95px;
  }
  .barberInfoDiv svg {
    height: 20px;
    width: 20px;
  }
  .barberInfoDiv button {
    gap: var(--space-6);
  }
}
@media (min-width: 1023px) {
  .barbers {
    display: flex;
    justify-content: space-between;
  }
  .barbersContainer {
    width: 450px;
  }
}
@media (min-width: 1441px) {
      
  .barbers {
    margin-bottom: 250px;
  }
  .barberInfoDiv {
    height: 105px;
  }
  .barberInfoDiv svg {
    height: 22px;
    width: 22px;
  }
  
  .barbersContainer {
    width: 60%;
  }
    
  .barbersContainer ul {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
  }
}