
.barberItem {
  opacity: 0;
  animation: slideInLeft 0.3s ease forwards;
}
  
.barbers {
  margin-bottom: var(--space-9);
}
.customerVew {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  
}
.barberInfoDiv {
  height: 85px;
  width: 100%;
  flex-shrink: 1; 
}
.barberInfoDiv button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 450px;
  gap: var(--space-5);
}
.barberInfoDiv:hover {
  cursor: pointer;
}

.itemButtonsNav {
  display: flex;
  justify-content: flex-end;
  gap: var(--space-4);
  margin-bottom: 20px;
}
  
  
@keyframes slideInLeft {
  
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
  
}
  
/*
.barberItem:hover,
.barberItem:active {
  cursor: pointer;
 border-color: rgb(203, 188, 151);
  background-color: rgba(34, 32, 32, 1);
}
*/

.removePointer {
  cursor: default;
}