.barberItem {
  border: 1px solid var(--logoColor);
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 20px 15px;
  opacity: 0;
  animation: slideInLeft 0.3s ease forwards;
  
}
.customerVew {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}
.barberInfoDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 450px;
  gap: 20px;
}
.itemButtonsNav {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-bottom: 20px;
}
@keyframes slideInLeft {
  
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
  
}
.barberItem:hover,
.barberItem:active {
  cursor: pointer;
  /*margin-top: -10px;*/
 
 border-color: rgb(203, 188, 151);
  background-color: rgba(34, 32, 32, 1);
}