.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: var(--space-4);
  background: var(--darkGrey);
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 1000;
  width: 90%;
  max-width: 400px;
  color: var(--mainGold);
}
.dialog h2 {
  text-align: center;
  margin-bottom: 10px;
}


/*confirm modal*/
.buttonsDiv {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.buttonsDiv button {
  padding: var(--space-2) var(--space-3);
  color: var(--darkGrey);
  transition: background .25s ease;
  font-weight: 600;
}

.buttonsDiv div:first-child  {
  background-color: var(--errorRed);
}
.buttonsDiv div:first-child:hover,
.buttonsDiv div:first-child:active{
  background: #f35959;
}
.buttonsDiv div:last-child  {
  background-color: var(--succesGreen);
}
.buttonsDiv div:last-child:hover,
.buttonsDiv div:last-child:active {
  background-color: #21c68f;
}
.confirmAppointmentBtn {
  margin-top: var(--space-3);
}
.confirmAppointmentBtn button {
  background-color: var(--mainGold);
  padding: var(--space-2) var(--space-3);
  color: var(--darkGrey);
  font-weight: 600;
  border-radius: var(--space-2);
  transition: background .25s ease;
}
.confirmAppointmentBtn button:hover,
.confirmAppointmentBtn button:active {
  background: var(--lightGold);
}
/* new appointment modal */

/* reset password modal */