.container {
    max-width: 1000px;
    margin: 0 auto;
   /* padding: 1rem;*/
    padding: var(--space-2);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--mainGold);/*#eee*/
}

.header h2 {
    margin: 0;
    /*color: #333;*/
    color: var(--mainGold);
    opacity: .3;
}

.toggleBtn {
   /* background: #3498db;
   color: white;
   cursor: pointer;
   border-radius: 4px;
   padding: 0.75rem 1.5rem;
   font-size: 1rem;*/
    background: var(--mainGold);
    color: var(--darkGrey);
    border-radius: var(--space-1);
    padding: var(--space-3) var(--space-4);
    border: none;
    font-size: var(--font-base);
    text-transform: uppercase;
    font-weight: 600;
    transition: background 0.3s;
}
.formSpace {
    padding: 0 var(--space-2);
    margin-bottom: var(--space-8);
}
.toggleBtn:hover {
   /* background: #2980b9;*/
   background: var(--lightGold);
}

.formContainer {
    /*
    margin-bottom: 2rem;
    padding: 1rem;
    background: #f8f9fa;
    border-radius: 8px;
    border: 1px solid #dee2e6;
    
    margin-bottom: var(--space-5);
    padding: var(--space-4);
    background: #f8f9fa;
    border-radius: 8px;
    border: 1px solid #dee2e6;
    */
}

.listContainer {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        gap: 1rem;
        align-items: stretch;
    }
    
    .toggleBtn {
        text-align: center;
    }
}
.listContainerSpace {
    padding: 0;
    margin-bottom: var(--space-8);
}




