.logoDiv {
  display: flex;
  justify-content: center;
}
.logo {
  
  width: 100%;
  max-width: 70px;     /* širina 100% roditeljskog elementa */
  height: auto;      /* visina se automatski računa */
 /* aspect-ratio: 16 / 9;  /* ili prave proporcije tvoje slike */
  object-fit: contain; 
}