.openMenuOverlay {
  height: 40px;
}
.menuOverlay {
  position: fixed;
  height: 30vh; 
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
  transition: height .3s ease;
}
/*
.menuOverlay nav {
  padding-top: var(--space-3);
}*/

.headerMobile  {
  padding-top: 10px;
  height: 39px;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0;
  background: var(--background);  
  margin-bottom: var(--space-8);
}
.headerDesktop {
  display: none;
}
.headerMobile ::after {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 0;
  height: 1px;
  /*background-color: rgb(218, 191, 38);*/
  background-color: var(--darkGold);
  opacity: 0;
  transition: width .3s ease-out, opacity 0.3s ease-out;
}

.animateLine::after {
  width: 100%;
  opacity: 1;
  max-width: 1023px;
}
.menuBtn svg {
  width: 30px;
  height: 30px;
}
.menuBtn:hover svg path {
  fill: var(--lightGold); /* svetlija nijansa zlata */
  transition: fill 0.25s ease;
}

.menuBtn:hover {
  cursor: pointer;
}

.btnWrappDiv {
  padding-top: var(--space-1);
}


.linkWrappDiv nav ul li:hover,
.linkWrappDiv a:active {
  color: var(--lightGold); /* svetlija nijansa zlata */
  transition: color 0.25s ease;
}
@media (min-width: 1023px) and (max-width: 1440px) {
.menuOverlay {
    height: 75px; 
    z-index: 1;
    width: 100%;
  }
}
@media (min-width: 1023px) {
  .headerMobile {
    display: none;
  }
  .headerDesktop {
    display: block;
    position: fixed;
    background: var(--darkGrey);
    
  }
  .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--space-2) 0 0 0;
  }
  .clientHeaderNav nav ul li:hover,
.clientHeaderNav a:active {
  color: var(--lightGold); /* svetlija nijansa zlata */
  transition: color 0.25s ease;
}
}
@media (min-width: 1440px) {
.menuOverlay {
    height: 105px; 
    z-index: 1;
    width: 100%;
  }
}