/*
.header {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 100px;
    
}
    */
.header {

  position: sticky;
  top: 0;
  z-index: 1000;
  /*height: 56px;*/
 /* display: flex;
  align-items: center;*/
  padding: 0;
  background: var(--background);  
  /*background: rgba(255,255,255,0.55);         
  backdrop-filter: blur(6px);                 
  -webkit-backdrop-filter: blur(6px);
  border-bottom: 1px solid rgba(0,0,0,0.06);
    */
    margin-bottom: var(--space-8);;
}
.header::after {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  content: '';
  width: 0;
  height: 1px;
  /*background-color: rgb(218, 191, 38);*/
  background-color: var(--darkGold);
  opacity: 0;
  transition: width .3s ease-out, opacity 0.3s ease-out;
}

.animateLine::after {
 width: 100%;
  opacity: 1;
  max-width: 1023px;
}

/*
.header.scrolled {
  background: rgba(10, 10, 10, 0.85);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}*/