.infoSection {
    margin: var(--space-8) auto;
}

.workingHoursDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: var(--space-1);
}
.workingHoursPharaph {
     margin-right: var(--space-1);
}
.iconWrap {
    display: inline-flex; /* inline-flex da se ponaša kao inline element unutar teksta */
    align-items: center;
    justify-content: center;
    line-height: 1.2; /* sprečava dodatne baseline pomeraje */
}
.iconWrap :hover {
    cursor: pointer;
}

.iconWrap svg:hover path {
    stroke: var(--lightGold);
    transition: stroke .25s ease;
}
/* opcionalno: direktno stilizuj SVG veličinu preko klase */
.iconWrap svg {
    width: 20; 
    height: 16px;
    display: block; /* duplikat zaštite, ali bezbedno ga ostaviti */
}
.dlWrap { /* wrapper za animaciju */
  
  transition: transform 0.28s ease, opacity 0.28s ease;
  transform: scaleY(0);
 /* opacity: 0;*/
}
.dlWrapOpen {
  transform: scaleY(1);
  /*opacity: 1;*/
}
.dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: var(--space-1) var(--space-3);
    font-size: var(--font-xs);
    margin-top: var(--space-1);
}

.dlOpen {
  max-height: 500px; /* dovoljno veliko da sve stane */
  opacity: 1;
  transform: translateY(0);
}
.dl dt {
    font-weight: 300; 
}
.dl dd {
    font-weight: 500;
}
.dtBold {
    font-weight: 700!important;
}


.addressMapDiv {
    margin-top: var(--space-3);
    width: fit-content;
}
.infoFlex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.hoverState:hover,
.hoverState:active {
    color: var(--lightGold); /* svetlija nijansa zlata */
    transition: color 0.25s ease;
}
.addressMapDiv:hover {
    color: var(--lightGold); /* svetlija nijansa zlata */
    transition: color 0.25s ease;
}
.addressMapDiv a:hover svg path,
.addressMapDiv a:active svg path {
  fill: var(--lightGold); /* svetlija nijansa zlata */
  transition: fill 0.25s ease;
}

.addressHolderDiv span {
    display: block;
    margin-left: var(--space-1);
}  


@media (min-width: 375px) and (max-width: 767px) {
    .infoSection {
        margin: 75px auto;
    }
    .infoFlex svg {
        width: 22px; 
        height: 18px;
    }
}